@page "/employees"

<h3>Empleados</h3>

@if (Employees == null)
{
    <Loading Label="Cargando empleados, por favor espere..."/>
}
else
{
    <table border="1">
        <tr>
            <td>Empleado</td>
        </tr>
        @foreach(var employee in Employees)
        {
            <tr>
                <td>@employee.Name</td>
            </tr>
        }
    </table>
}